@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section BingLink {
    <li class="nav-item">
        <a class="nav-link text-dark" href="https://www.bing.com/">Bing</a>
    </li>
}
