<!-- Header -->
<header id="header">
    <h1>MyBlog</h1>
    {{#if user}}
    <h2>Welcome <span>{{user.email}}</span>!</h2>
    <nav id="nav">
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    {{else}}
    <nav id="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
    </nav>
    {{/if}}
</header>