div{
    display: inline-block;
}
h1{
    display: inline;
    color: blue;
}

p{
    color: darkviolet;
}

li{
    border-style: solid;
    border-color: yellow;
}

span{
    border-style: dotted;
    border-color: darkcyan;
}
