{{>header}}
<!-- Details Dashboard  -->
<section id="viewMydestinations">
    <h3>Your destinations</h3>
    {{#each userDestionation}}
            {{>userDest}}
    {{else}}
     <h3>
        No destinations created....
    </h3>
    {{/each}}
</section>
{{>footer}}