<h1 class="alert-success">Good job you have successfully created your product! If you want you can go back and create another one!</h1>
<a type="button" class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Add">
    <input class="btn btn-primary" type="button" value="CREATE ANOTHER ONE!">
</a>
